<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.searchquestionssystem">

    <application
        android:name="org.litepal.LitePalApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />
        <activity android:name=".QuesActivity" />
        <activity android:name=".MyqueActivity" />
        <activity android:name=".SloveActivity" />
        <activity android:name=".user_activity.MyProActivity" />
        <activity android:name=".user_activity.display_myque" />
        <activity android:name=".user_activity.DisplayqueActivity" />
        <activity android:name=".user_activity.DisqueActivity" />
        <activity android:name=".user_activity.DisansActivity" />
        <activity android:name=".user_activity.MyansActivity" />
        <activity android:name=".user_activity.RankActivity" />
        <activity android:name=".user_activity.InfoActivity"></activity>
    </application>

</manifest>